#switch {
    position: relative;
    width: 64px;
    margin: 10px auto;
  
    & button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 0;
   
  
      position: absolute;
      z-index: 1;
      top: 50%;
     
    }
  
    
    & span {
        text-align: center;
      display: block;
      width: 64px;
      height: 24px;
      background: #383838c6;
      border: 1px solid #7f7f7f;
      border-radius: 999px;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
    }
  }