#SobreMim {
  /* width: 64px; */
  /* margin: 10px auto; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  & button {
    /* margin-left: 20px; */
color:rgb(186, 186, 186);
    border: 1px solid #838282;
    border-radius: 8px;
    background: #595959;
    width: 100px;
    height: 40px;
  }
}
.texto {
  padding: 20px;
  text-align: justify;
  color: #c3c3c3;
}
