* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:visited,
a:link {
  color: #fff;
  text-decoration: none;
}

#App * {
  font-family: "Inter", sans-serif;
}

#App {
  background: url(./img/fundinhoPretinho.png) no-repeat top center / cover;
  background-color: #242424;
  height: 100dvh;
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 0px auto 0px;
  padding: 0px 24px;
}

#links ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

#socialLinks {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;

  font-size: 24px;
}
